{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron jumbotron-fluid text-center bg-dark text-light">
    <div class="container">
        <h1 class="display-4 font-weight-bold">Welcome to Hotel Management System</h1>
        <p class="lead mt-3">Your comfort is our priority. Explore our world-class facilities and premium services.</p>
        <a href="/rooms" class="btn btn-primary btn-lg mt-4 px-5">View Rooms</a>
        <a href="/amenities" class="btn btn-outline-light btn-lg mt-4 ml-3 px-5">Explore Amenities</a>
    </div>
</div>
{% endblock %}
