{% extends 'layout.html' %}

{% block body %}
<div class="container my-5">
    <h1 class="text-center mb-4">{{ amenity.a_title }}</h1>
    
    <div class="card shadow-lg">
        <div class="card-body">
            <h5 class="card-title">Amenity Details</h5>
			<div class="col-md-4 mb-3">
				<a href="/add-facility" class="btn btn-primary btn-lg btn-block">Add Facilities</a>
			</div>
            <p class="card-text">
                <small>
                    <strong>ID:</strong> {{ amenity.a_id }} <br>
                    <strong>Type:</strong> {{ amenity.a_type }} <br>
                    <strong>Capacity:</strong> {{ amenity.a_capacity }} <br>
                    <strong>Status:</strong> 
                    {% if amenity.a_status == 'Available' %}
                    <span class="badge badge-success">Available</span>
                    {% else %}
                    <span class="badge badge-danger">Unavailable</span>
                    {% endif %}
                </small>
            </p>
            <hr>
            <h6 class="card-subtitle mb-2 text-muted">Description</h6>
            <div class="amenity-description">
                {{ amenity.a_description | safe }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
